<!DOCTYPE html>
<html lang='ja'>
  <head>
    <meta charset="utf-8">
    <meta name='robots' content='noindex, nofollow'>
    <title>Todo アプリ</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous'>
  </head>

  <body ng-app='App'>
    <div class='location-bar'></div>

    <div class='container' ng-controller='MainController'>
      <div class='page-header'>
        <h1>ToDo</h1>
      </div>

      <form class='input-group input-group-lg' ng-submit='addTodo()'>
        <input type='text' required placeholder='新しい要件を入力' class='form-control input-lg' ng-model='newTitle'>
        <span class='input-group-btn'>
          <button type='submit' class='btn btn-default'>追加</button>
        </span>
      </form>

      <hr>

      <div class='btn-toolbat'>
        <div class='btn-group'>
          <button class='btn btn-success'>全て完了/未了</button>
        </div>
        <div class='btn-group'>
          <button ng-click='changeFilter()' ng-class='{ active: !currentFilter }' class='btn btn-default active'>全部 <span class='badge'>{{ allCount }}</span></button>
          <button ng-click='changeFilter(filter.remaining)' ng-class='{ active: currentFilter == filter.remaining }' class='btn btn-default'>未了 <span class='badge'>{{ remainingCount }}</span></button>
          <button ng-click='changeFilter(filter.done)' ng-class='{ active: currentFilter == filter.done }' class='btn btn-default'>完了 <span class='badge'>{{ doneCount }}</span></button>
        </div>
        <div class='btn-group'>
          <button class='btn btn-danger'>完了アイテムを全て削除</button>
        </div>
      </div>

      <hr>

      <ul class='list-unstyled'>
        <li class='todo-item' ng-repeat='todo in todos | filter:currentFilter' ng-class='{ done: todo.done, editing: todo == editing }'>
          <form class='input-group input-group-lg' name='todoForm' ng-submit='doneEdit(todoForm)'>
            <label class='input-group-addon'>
              <input type='checkbox' ng-model='todo.done'>
            </label>
            <p ng-hide='todo == editing' ng-dblclick='editTodo(todo)' class='form-control input-lg todo-title'>{{ todo.title }}</p>
            <input type='text' required class='form-control input-lg' ng-model='todo.title' ng-show='todo == editing' ng-select='todo == editing' ng-blur='doneEdit(todoForm)'>
            <span class='input-group-btn del-btn' ng-if='todo != editing'>
              <button type='reset' class='btn btn-danger'>削除</button>
            </span>
          </form>
        </li>

        <!-- <li class='todo-item done'>
          <form class="" action="index.html" method="post">
            <input type='checkout'>
            <span class='todo-list'>完了したToDO</span>
            <button type='reset'>削除</button>
          </form>
        </li>
        <li class='todo-item editing'>
          <form>
            <input type='checkbox'>
            <input type='text' required value='編集中のToDo'>
          </form>
        </li> -->
      </ul>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js"></script>
    <script src='app.js'></script>
  </body>
</html>
